<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="ePrescription" EntityName="EPrescription" Owner="dbo" PropertyName="EPrescription" FieldName="_ePrescription" FriendlyName="E Prescription" IncludeInOutput="true">
		<Column Id="PrescriptionID" CSType="System.String" PropertyName="PrescriptionId" FieldName="_prescriptionId" FriendlyName="Prescription Id" IncludeInOutput="true" />
		<Column Id="TransactionID" CSType="System.String" PropertyName="TransactionId" FieldName="_transactionId" FriendlyName="Transaction Id" IncludeInOutput="true" />
		<Column Id="PatientCode" CSType="System.String" PropertyName="PatientCode" FieldName="_patientCode" FriendlyName="Patient Code" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="DeliveryDate" CSType="System.DateTime" PropertyName="DeliveryDate" FieldName="_deliveryDate" FriendlyName="Delivery Date" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="DateOfBirth" CSType="System.DateTime?" PropertyName="DateOfBirth" FieldName="_dateOfBirth" FriendlyName="Date Of Birth" IncludeInOutput="true" />
		<Column Id="Age" CSType="System.String" PropertyName="Age" FieldName="_age" FriendlyName="Age" IncludeInOutput="true" />
		<Column Id="Weight" CSType="System.String" PropertyName="Weight" FieldName="_weight" FriendlyName="Weight" IncludeInOutput="true" />
		<Column Id="Diagnosis" CSType="System.String" PropertyName="Diagnosis" FieldName="_diagnosis" FriendlyName="Diagnosis" IncludeInOutput="true" />
		<Column Id="DiagnosisVN" CSType="System.String" PropertyName="DiagnosisVn" FieldName="_diagnosisVn" FriendlyName="Diagnosis Vn" IncludeInOutput="true" />
		<Column Id="PrescribingDoctor" CSType="System.String" PropertyName="PrescribingDoctor" FieldName="_prescribingDoctor" FriendlyName="Prescribing Doctor" IncludeInOutput="true" />
		<Column Id="Sex" CSType="System.String" PropertyName="Sex" FieldName="_sex" FriendlyName="Sex" IncludeInOutput="true" />
		<Column Id="Remark" CSType="System.String" PropertyName="Remark" FieldName="_remark" FriendlyName="Remark" IncludeInOutput="true" />
		<Column Id="IsComplete" CSType="System.Boolean" PropertyName="IsComplete" FieldName="_isComplete" FriendlyName="Is Complete" IncludeInOutput="true" />
		<ChildCollection Id="EPrescriptionDetailCollection" PropertyName="EPrescriptionDetailCollection" FieldName="_ePrescriptionDetailPrescriptionId" FriendlyName="EPrescriptionDetailCollection" CSType="TList&lt;EPrescriptionDetail&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ePrescriptionDetail_ePrescription" IncludeInOutput="true"/>
	</Table>
	<Table Id="ePrescriptionDetail" EntityName="EPrescriptionDetail" Owner="dbo" PropertyName="EPrescriptionDetail" FieldName="_ePrescriptionDetail" FriendlyName="E Prescription Detail" IncludeInOutput="true">
		<Column Id="PrescriptionDetailId" CSType="System.Int64" PropertyName="PrescriptionDetailId" FieldName="_prescriptionDetailId" FriendlyName="Prescription Detail Id" IncludeInOutput="true" />
		<Column Id="PrescriptionID" CSType="System.String" PropertyName="PrescriptionId" FieldName="_prescriptionId" FriendlyName="Prescription Id" IncludeInOutput="true" />
		<Column Id="Sq" CSType="System.Int32" PropertyName="Sq" FieldName="_sq" FriendlyName="Sq" IncludeInOutput="true" />
		<Column Id="DrugId" CSType="System.String" PropertyName="DrugId" FieldName="_drugId" FriendlyName="Drug Id" IncludeInOutput="true" />
		<Column Id="DrugName" CSType="System.String" PropertyName="DrugName" FieldName="_drugName" FriendlyName="Drug Name" IncludeInOutput="true" />
		<Column Id="Unit" CSType="System.String" PropertyName="Unit" FieldName="_unit" FriendlyName="Unit" IncludeInOutput="true" />
		<Column Id="UnitVN" CSType="System.String" PropertyName="UnitVn" FieldName="_unitVn" FriendlyName="Unit Vn" IncludeInOutput="true" />
		<Column Id="Remark" CSType="System.String" PropertyName="Remark" FieldName="_remark" FriendlyName="Remark" IncludeInOutput="true" />
		<Column Id="RouteType" CSType="System.String" PropertyName="RouteType" FieldName="_routeType" FriendlyName="Route Type" IncludeInOutput="true" />
		<Column Id="RouteTypeVN" CSType="System.String" PropertyName="RouteTypeVn" FieldName="_routeTypeVn" FriendlyName="Route Type Vn" IncludeInOutput="true" />
		<Column Id="Dosage" CSType="System.String" PropertyName="Dosage" FieldName="_dosage" FriendlyName="Dosage" IncludeInOutput="true" />
		<Column Id="DosageUnit" CSType="System.String" PropertyName="DosageUnit" FieldName="_dosageUnit" FriendlyName="Dosage Unit" IncludeInOutput="true" />
		<Column Id="DosageUnitVN" CSType="System.String" PropertyName="DosageUnitVn" FieldName="_dosageUnitVn" FriendlyName="Dosage Unit Vn" IncludeInOutput="true" />
		<Column Id="Frequency" CSType="System.String" PropertyName="Frequency" FieldName="_frequency" FriendlyName="Frequency" IncludeInOutput="true" />
		<Column Id="FrequencyVN" CSType="System.String" PropertyName="FrequencyVn" FieldName="_frequencyVn" FriendlyName="Frequency Vn" IncludeInOutput="true" />
		<Column Id="Duration" CSType="System.String" PropertyName="Duration" FieldName="_duration" FriendlyName="Duration" IncludeInOutput="true" />
		<Column Id="DurationUnit" CSType="System.String" PropertyName="DurationUnit" FieldName="_durationUnit" FriendlyName="Duration Unit" IncludeInOutput="true" />
		<Column Id="DurationUnitVN" CSType="System.String" PropertyName="DurationUnitVn" FieldName="_durationUnitVn" FriendlyName="Duration Unit Vn" IncludeInOutput="true" />
		<Column Id="TotalUnit" CSType="System.String" PropertyName="TotalUnit" FieldName="_totalUnit" FriendlyName="Total Unit" IncludeInOutput="true" />
	</Table>
	<Table Id="FavoritMaster" EntityName="FavoritMaster" Owner="dbo" PropertyName="FavoritMaster" FieldName="_favoritMaster" FriendlyName="Favorit Master" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="DiceaseName" CSType="System.String" PropertyName="DiceaseName" FieldName="_diceaseName" FriendlyName="Dicease Name" IncludeInOutput="true" />
		<Column Id="CreateBy" CSType="System.String" PropertyName="CreateBy" FieldName="_createBy" FriendlyName="Create By" IncludeInOutput="true" />
		<Column Id="Diagnosis" CSType="System.String" PropertyName="Diagnosis" FieldName="_diagnosis" FriendlyName="Diagnosis" IncludeInOutput="true" />
		<Column Id="DiagnosisVN" CSType="System.String" PropertyName="DiagnosisVn" FieldName="_diagnosisVn" FriendlyName="Diagnosis Vn" IncludeInOutput="true" />
		<Column Id="IsPrivate" CSType="System.Boolean?" PropertyName="IsPrivate" FieldName="_isPrivate" FriendlyName="Is Private" IncludeInOutput="true" />
	</Table>
	<Table Id="UserRoles" EntityName="UserRoles" Owner="dbo" PropertyName="UserRoles" FieldName="_userRoles" FriendlyName="User Roles" IncludeInOutput="true">
		<Column Id="RoleID" CSType="System.String" PropertyName="RoleId" FieldName="_roleId" FriendlyName="Role Id" IncludeInOutput="true" />
		<Column Id="RoleName" CSType="System.String" PropertyName="RoleName" FieldName="_roleName" FriendlyName="Role Name" IncludeInOutput="true" />
		<Column Id="Remark" CSType="System.String" PropertyName="Remark" FieldName="_remark" FriendlyName="Remark" IncludeInOutput="true" />
	</Table>
	<Table Id="Users" EntityName="Users" Owner="dbo" PropertyName="Users" FieldName="_users" FriendlyName="Users" IncludeInOutput="true">
		<Column Id="UserName" CSType="System.String" PropertyName="UserName" FieldName="_userName" FriendlyName="User Name" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="_password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="UserRole" CSType="System.String" PropertyName="UserRole" FieldName="_userRole" FriendlyName="User Role" IncludeInOutput="true" />
		<Column Id="FullName" CSType="System.String" PropertyName="FullName" FieldName="_fullName" FriendlyName="Full Name" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="DisplayName" CSType="System.String" PropertyName="DisplayName" FieldName="_displayName" FriendlyName="Display Name" IncludeInOutput="true" />
		<Column Id="Signature" CSType="System.Byte[]" PropertyName="Signature" FieldName="_signature" FriendlyName="Signature" IncludeInOutput="true" />
		<Column Id="Location" CSType="System.String" PropertyName="Location" FieldName="_location" FriendlyName="Location" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="Avatar" CSType="System.Byte[]" PropertyName="Avatar" FieldName="_avatar" FriendlyName="Avatar" IncludeInOutput="true" />
		<Column Id="MobilePhone" CSType="System.String" PropertyName="MobilePhone" FieldName="_mobilePhone" FriendlyName="Mobile Phone" IncludeInOutput="true" />
	</Table>
	<View Id="VR_ePresDetail" EntityName="VrEPresDetail" Owner="dbo" PropertyName="VrEPresDetail" FieldName="_vrEPresDetail" FriendlyName="Vr E Pres Detail" IncludeInOutput="true">
		<Column Id="PrescriptionDetailId" CSType="System.Int64" PropertyName="PrescriptionDetailId" FieldName="_prescriptionDetailId" FriendlyName="Prescription Detail Id" IncludeInOutput="true" />
		<Column Id="PrescriptionID" CSType="System.String" PropertyName="PrescriptionId" FieldName="_prescriptionId" FriendlyName="Prescription Id" IncludeInOutput="true" />
		<Column Id="Sq" CSType="System.Int32" PropertyName="Sq" FieldName="_sq" FriendlyName="Sq" IncludeInOutput="true" />
		<Column Id="DrugId" CSType="System.String" PropertyName="DrugId" FieldName="_drugId" FriendlyName="Drug Id" IncludeInOutput="true" />
		<Column Id="DrugName" CSType="System.String" PropertyName="DrugName" FieldName="_drugName" FriendlyName="Drug Name" IncludeInOutput="true" />
		<Column Id="Unit" CSType="System.String" PropertyName="Unit" FieldName="_unit" FriendlyName="Unit" IncludeInOutput="true" />
		<Column Id="UnitVN" CSType="System.String" PropertyName="UnitVn" FieldName="_unitVn" FriendlyName="Unit Vn" IncludeInOutput="true" />
		<Column Id="Remark" CSType="System.String" PropertyName="Remark" FieldName="_remark" FriendlyName="Remark" IncludeInOutput="true" />
		<Column Id="Dosage" CSType="System.String" PropertyName="Dosage" FieldName="_dosage" FriendlyName="Dosage" IncludeInOutput="true" />
		<Column Id="Frequency" CSType="System.String" PropertyName="Frequency" FieldName="_frequency" FriendlyName="Frequency" IncludeInOutput="true" />
		<Column Id="VN_meaning" CSType="System.String" PropertyName="VnMeaning" FieldName="_vnMeaning" FriendlyName="Vn Meaning" IncludeInOutput="true" />
		<Column Id="Duration" CSType="System.String" PropertyName="Duration" FieldName="_duration" FriendlyName="Duration" IncludeInOutput="true" />
		<Column Id="TotalUnit" CSType="System.String" PropertyName="TotalUnit" FieldName="_totalUnit" FriendlyName="Total Unit" IncludeInOutput="true" />
		<Column Id="Expr1" CSType="System.String" PropertyName="Expr1" FieldName="_expr1" FriendlyName="Expr1" IncludeInOutput="true" />
		<Column Id="meaning" CSType="System.String" PropertyName="Meaning" FieldName="_meaning" FriendlyName="Meaning" IncludeInOutput="true" />
		<Column Id="abbre" CSType="System.String" PropertyName="Abbre" FieldName="_abbre" FriendlyName="Abbre" IncludeInOutput="true" />
	</View>
</NetTiersMap>
