
#waiting {
    float: left;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #888;
    width: 49%;
    border: 1px solid #aaa;

}

#done {
    float: right;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #888;
    width: 49%;
    border: 1px solid #aaa;
    min-height: 500px;
}

#Update {
    float: left;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #888;
    width: 49%;
    border: 1px solid #aaa;
    min-height: 200px;
  
}
#PageSpace 
{
    float: left;
    width: 49%;
        min-height:10px;
}
.Patient 
{
    width: 100%;
    background-color: aquamarine;
}
.toggle-box {
    display: none;
}

    .toggle-box + label {
        cursor: pointer;
        display: block;
        font-weight: bold;
        line-height: 21px;
        margin-bottom: 5px;
    }

        .toggle-box + label + div {
            display: none;
            margin-bottom: 10px;
        }

    .toggle-box:checked + label + div {
        display: block;
    }

    .toggle-box + label:before {
        background-color: #4F5150;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #FFFFFF;
        content: "+";
        display: block;
        float: left;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
        margin-right: 5px;
        text-align: center;
        width: 20px;
    }

    .toggle-box:checked + label:before {
        content: "\2212";
    }
